.CardElement {
  // top: 15px;
  // position: relative;
  // left: 625px;
  height: 40px;
  padding: 10px 12px;
  width: 400px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.mainCardDiv {
  margin: 0 auto;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.CardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.CardElement--invalid {
  border-color: #fa755a;
}

.CardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.btn-checkout {
  margin: 10px auto;
  border-radius: 4px;
  // position: relative;
  left: -5px;
  height: 40px;
  top: 25px;
  width: 25%;
  color: white;
  background-color: rgba(4, 137, 245, 0.616);

  :hover {
    background-color: blue;
  }
}
