.App {
  position: relative;
  transition: all 1s ease-in-out;
}

.CardElement {
  // top: 15px;
  // position: relative;
  // left: 625px;
  height: 40px;
  padding: 10px 12px;
  width: 400px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.mainCardDiv {
  position: absolute;
  z-index: 20;
  // margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.CardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.CardElement--invalid {
  border-color: #fa755a;
}

.CardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.btn-checkout {
  margin: 10px auto;
  border-radius: 4px;
  left: -5px;
  height: 40px;
  top: 25px;
  width: 400px;
  color: white;
  background-color: rgb(0, 191, 255);

  &:hover {
    background-color: rgb(5, 166, 219);
  }
}
