.App {
  position: relative;
  transition: all 1s ease-in-out;
}

.mainCardDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 100px;

  h1 {
    color: #4092c2;
    font-weight: 600;
    font-size: 30pt;
    margin-bottom: 3px;
  }
  p {
    color: #4092c2;
  }
  .payWay {
    color: #4092c2;
    font-size: 35pt;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 30px auto;

    .cardIcon {
      width: 200px;
      height: 100px;
      align-self: center;
      position: relative;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      margin: 0 20px 0 0;
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:hover {
          cursor: pointer;
        }
      }
    }
    .paypalIcon {
      width: 200px;
      height: 100px;
      align-self: center;
      position: relative;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      margin: 0 0 0 20px;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .mainBillDiv {
    display: flex;
    align-self: center;
    .billingInfo {
      margin: 0 40px 0 0;
      h1 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: start;
      }
      label {
        font-size: 11px;
        text-align: start;
        line-height: 20px;
        color: #4092c2;
        line-height: 25px;
      }
      input {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        border: none;
        text-indent: 15px;
        border: 1px solid #4092c2;
      }
      input::placeholder {
        color: #4092c2;
      }
      .totalPrice {
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
      }
    }
  }
  .creditCardInfo {
    margin: 0 0 0 40px;
    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: start;
    }
    label {
      font-size: 11px;
      text-align: start;
      line-height: 25px;
      color: #4092c2;
    }
    form {
      display: flex;
      flex-direction: column;
    }

    .CardElement {
      // top: 15px;
      // position: relative;
      // left: 625px;
      height: 40px;
      padding: 10px 12px;
      width: 250px;
      color: #4092c2;
      background-color: white;
      border: 1px solid #4092c2;
      border-radius: 5px;
      // margin: 0 auto;

      // box-shadow: 0 1px 3px 0 #e6ebf1;
      // -webkit-transition: box-shadow 150ms ease;
      // transition: box-shadow 150ms ease;
    }
    .cvc {
      width: 125px;
    }
  }
}

.CardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.CardElement--invalid {
  border-color: #fa755a;
}

.CardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.btn-checkout {
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  left: -5px;
  height: 40px;
  top: 25px;
  width: 250px;
  color: white;
  font-weight: 600;
  background-color: #4092c2;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #34779e;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(78, 78, 78);
  }
}
