.correspondence {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: none;
  width: 60%;
  margin: 100px auto 0 auto;

  .tbody {
    width: 100%;
    border: none;

    .attachments {
      text-align: left;
      padding: 5px;
      text-indent: 5px;
      color: #4092c2;
    }

    .senderMain {
      display: flex;
      justify-content: space-between;
      background: rgba(0, 0, 0, 0.3);
      padding: 5px;
    }
    color: white;

    .row1 {
      .sender {
      }
      .message {
        text-align: left;
      }
    }
  }
}
