.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 60px auto 30px auto;
  grid-gap: 10px;

  .videoApp,
  .waitRoom,
  .emailReq {
    display: flex;
    font-size: 40px;
    background: rgb(253, 251, 251);
    height: 70px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

    .email {
      background: rgb(137, 210, 235);
    }

    .video {
      background: rgb(61, 61, 248);
    }

    .clock {
      background: rgb(107, 240, 107);
    }

    .email,
    .video,
    .clock {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      align-self: center;
      margin: 0 10px;

      .icon {
        color: white;
        align-self: center;
        margin-top: 8px;
      }
    }

    h2 {
      font-size: 15px;
      align-self: center;
    }

    &:hover {
      background: rgb(238, 237, 237);
      cursor: pointer;
      box-shadow: 2px 2px 10px black;
    }
  }
}

.pagi {
  display: flex;
  margin: 20px auto;
  justify-content: center;

  .left {
    width: 30px;
    height: 30px;
    border: 1px solid lightblue;
    margin: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      background: lightblue;
    }
    .iconLeft {
      font-size: 20px;
      margin: 4px 0 0 0;
      color: rgb(0, 191, 255);
    }
  }

  .right {
    width: 30px;
    height: 30px;
    border: 1px solid lightblue;
    margin: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      background: lightblue;
    }
    .iconRight {
      font-size: 20px;
      margin: 4px 0 0 0;
      color: rgb(0, 191, 255);
    }
  }
}

.mainTabel {
  border: 1px solid white;
  border-radius: 3px;

  .mainConsultation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 242, 220);

    height: 40px;

    .icon_left {
      display: flex;
      span {
        background: rgb(107, 240, 107);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 3px 10px;
        align-self: center;
        text-align: center;
        .icon1 {
          align-self: center;
          color: white;
          font-size: 22px;
          margin-top: 3px;
        }
      }
      p {
        align-self: center;
        margin: 0;
      }
    }
    .sort {
      align-items: center;
      margin: 0 10px;

      label {
        margin: 0 3px;
      }
    }
  }

  .table2 {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 10px;

    tbody {
      background: white;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: rgb(208, 242, 253);
        cursor: pointer;
      }
      tr {
        height: 40px;
        td {
          .check {
            color: rgb(18, 219, 18);
            font-size: 17px;
          }
          .declined {
            color: red;
            font-size: 17px;
          }
          .pendi {
            color: rgb(212, 212, 6);
            font-size: 17px;
          }
        }
      }
    }
    .client-head {
      text-align: center;
      background-color: whitesmoke;
      color: gray;

      .client-row {
        height: 40px;
        .client-doctor {
          text-align: center;
        }
        .client-subject {
          text-align: center;
        }
        .client-status {
          text-align: center;
        }
      }
    }
  }
}
