.table2{
    position: relative;
    left: 12px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 50%;
    
    .client-head{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4CAF50;
        color: white; 
        
        .client-row{

            .client-doctor{
                text-align: center;
            }
            .client-subject{
                text-align: center;
            }
            .client-status{
                text-align: center;
            }
        }
    }

    .client-body{
        :hover {background-color: #ddd;}
    
        .list-group{
            border: 1px solid #ddd;
            padding-top: 8px;

            .client-doctor{
                padding: 10px;
            }
            .client-subject{
                padding: 10px;
            }
            .client-status{
                padding: 10px;
            }
        }
    }
    
}