.detail-exam {
  background: #f2f2f2;
  position: relative;
  padding: 40px 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  // top: 2px;
  // float: left;
  text-align: left;
  margin: 80px auto 20px auto;
  width: 85%;
  min-height: 500px;
  display: flex;
  // max-height: 500px;
  .iconVideo {
    position: absolute;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 15px;
    top: -40px;
    left: 0;
    height: 40px;
    padding: 0 0 0 15px;
    display: flex;
    background: #f2f2f2;
    width: 250px;
    justify-content: flex-start;
    align-items: center;
    p {
      margin: 0 0 0 5px;
      font-size: 15px;
      font-weight: 450;
      color: #666666;
    }
  }
  .detail {
    padding: 3px 10px 5px 0px;
    position: relative;
    width: 300px;
    .divSelectButton {
      display: flex;
      // margin: 50px 0 0 0;
      .select-option {
        width: 200px;
        margin: 0;
        // border: 1px solid #fa9551;
      }
      .btnSend {
        margin: 0 10px;
        border: 1px solid #377da5;
        background: #4092c2;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
      }
    }
    p {
      color: #666666;
      border: none;
      span {
        font-weight: bold;
      }
    }

    .col-sm-10 {
      position: relative;
      height: 50px;

      .btn {
        position: relative;
        border: 1px solid #4092c2;
        height: 37px;
        left: 120px;
        top: -37px;
      }
    }
  }
  .mainMessageDiv {
    width: 100%;

    .subjectDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fa9551;
      color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 30px;
      p {
        margin: 0px 15px 0 15px;

        span {
          margin-right: 5px;
        }
      }
    }
    .messageDiv {
      min-height: 150px;
      width: 100%;
      padding: 10px 15px !important;
      background: white;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      // padding: 10px 13px 0 13px;
      textarea {
        resize: none;
        width: 100%;
        height: 100% !important;
        border: none;
        // padding: 10px 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: white;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-button:single-button {
          // background-color: #bbbbbb;
          display: block;

          height: 13px;
          width: 16px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #fa9551;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #db8246;
        }
      }
    }
    .reportIfDeclined,
    .reportIfFinished {
      margin: 20px 0 0 0;

      height: 45%;
      .subjectDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #e6e6e6;
        color: #666666;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 30px;
        p {
          margin: 0px 15px 0 15px;

          span {
            margin-right: 5px;
          }
        }
      }
      .messageDivReport {
        width: 100%;
        height: 72%;
        background: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        // padding: 10px 13px 0 13px;
        textarea {
          width: 100%;
          height: 100%;
          padding: 10px;
          text-indent: 5px;
          border: none;
          background: white;
          resize: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-button:single-button {
            // background-color: #bbbbbb;
            display: block;

            height: 13px;
            width: 16px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background: #fa9551;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #db8246;
          }
        }
        button {
          color: white;
          background: #00aff0;
          border: none;
          border-radius: 5px;
          padding: 5px 10px;
          font-weight: 600;
          margin: 20px auto 20px 0;
        }
      }
    }
  }
  .sideMessageDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    .SubjectMessage {
      .subjectDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fa9551;
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 30px;
        p {
          margin: 0px 15px 0 15px;

          span {
            margin-right: 5px;
          }
        }
      }
      .messageDiv {
        min-height: 150px;
        background: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px 15px !important;

        textarea {
          width: 100%;
          height: 100% !important;
          // padding: 10px;
          // text-indent: 5px;
          background: white !important;
          border: none;
          resize: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-button:single-button {
            // background-color: #bbbbbb;
            display: block;

            height: 13px;
            width: 16px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background: #fa9551;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #db8246;
          }
        }
      }
    }
    .mainMessageCorrespondence {
      // padding: 20px 0 0 0;
      .MessageCorrespondence {
        width: 100%;
        margin-top: 30px;

        .Maintbody {
          margin: 0 0 20px auto;
          p {
            text-indent: 20px;
            color: white;
            border: none;
            span {
              font-weight: bold;
            }
          }
          .senderMaiin {
            height: 30px;
            display: flex;
            background: #fa9551;
            justify-content: space-between;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            .senderP {
              margin-top: 5px;
              width: 70%;
              text-indent: 10px;
              flex: 3;
              span {
                font-weight: bold;
              }
            }
            .createdP {
              margin: 5px 0 0 0;
              width: 150px;
            }
            #imageDiv {
              background: transparent;
              border: 1.7px solid white;
              // position: absolute;
              width: 20px;
              border-radius: 5px;
              height: 20px;
              margin: 5px 20px 0 0;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .row1 {
            textarea {
              background: white;
              color: #666666;
              padding: 10px 15px;
              width: 100%;
              height: 100px;
              resize: none;
              border: none;

              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              &::-webkit-scrollbar {
                width: 5px;
              }

              &::-webkit-scrollbar-button:single-button {
                // background-color: #bbbbbb;
                display: block;

                height: 13px;
                width: 16px;
              }

              &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 5px;
              }

              &::-webkit-scrollbar-thumb {
                background: #fa9551;
                border-radius: 5px;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: #db8246;
              }
            }
          }
          .ReplyMainDiv {
            margin-left: 20px;
            button {
              color: white;
              background: #00aff0;
              height: 40px;
              width: 80px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              .replyIcon {
                font-size: 20px;
              }
            }
          }
          .SendMainDiv {
            margin-left: 20px;
            border: none;
            border-radius: 15px;
            margin: 10px auto 0 auto;
            box-shadow: none;
            background: white;
            textarea {
              min-height: 200px;
              resize: none;
              border: none;
              text-indent: 0;
              padding: 10px 15px;
              &::-webkit-scrollbar {
                width: 5px;
              }

              &::-webkit-scrollbar-button:single-button {
                // background-color: #bbbbbb;
                display: block;

                height: 13px;
                width: 16px;
              }

              &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 5px;
              }

              &::-webkit-scrollbar-thumb {
                background: #fa9551;
                border-radius: 5px;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: #db8246;
              }
            }
            .sendbuttonAndAtt {
              display: flex;
              background: white;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              margin: 0;
              padding: 0;
              button {
                color: white;
                background: #00aff0;
                border: none;
                height: 40px;
                width: 80px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 10px 20px 20px;
                transition: all 0.5s ease-in-out;
                .replyIcon {
                  font-size: 20px;
                }
                // &:hover {
                //   box-shadow: 2px 2px 1px black;
                // }
              }
              .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
              }

              .btn {
                // border: 1px solid #00aff0;
                color: white;
                background-color: #00aff0;
                width: 40px;
                border-radius: 8px;
                font-size: 30px;
                font-weight: bold;
                outline: none;
                // &:hover {
                //   cursor: pointer;
                //   background: #4092c2;
                //   color: white;
                // }
              }

              .upload-btn-wrapper input[type="file"] {
                font-size: 0px;
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
                margin-left: 20px;
                cursor: pointer;
                opacity: 0;
              }
            }
          }
        }
      }
      .ReplyMainDiv {
        margin-left: 20px;
        button {
          color: white;
          background: #00aff0;
          // border: 1px solid #377da5;
          height: 40px;
          width: 80px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          .replyIcon {
            font-size: 20px;
          }
        }
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
          border: none;
        }
      }
      .SendMainDiv {
        margin-left: 20px;
        border: none;
        border-radius: 15px;
        margin: 10px auto 0 auto;
        box-shadow: none;
        background: white;
        .senderMaiin {
          height: 30px;
          display: flex;
          background: #fa9551;
          justify-content: space-between;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          color: white;
          text-indent: 15px;
          .senderP {
            margin-top: 5px;
            span {
              font-weight: bold;
            }
          }
          .createdP {
            margin: 5px 20px 0 0;
          }
        }
        textarea {
          height: 100px;
          width: 100%;
          resize: none;
          border: none;
          text-indent: 0;
          padding: 10px 15px;
          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-button:single-button {
            // background-color: #bbbbbb;
            display: block;

            height: 13px;
            width: 16px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background: #fa9551;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #db8246;
          }
        }
        .sendbuttonAndAtt {
          display: flex;
          background: white;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;

          margin: 0;
          padding: 0;
          button {
            color: white;
            background: #00aff0;
            border: none;
            height: 40px;
            width: 80px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px 20px 20px;
            transition: all 0.5s ease-in-out;
            .replyIcon {
              font-size: 20px;
            }
            // &:hover {
            //   box-shadow: 2px 2px 1px black;
            // }
          }
          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
          }

          .btn {
            // border: 1px solid #00aff0;
            color: white;
            background-color: #00aff0;
            width: 40px;
            border-radius: 8px;
            font-size: 30px;
            font-weight: bold;
            outline: none;
            // &:hover {
            //   cursor: pointer;
            //   background: #4092c2;
            //   color: white;
            // }
          }

          .upload-btn-wrapper input[type="file"] {
            font-size: 0px;
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            margin-left: 20px;
            cursor: pointer;
            opacity: 0;
          }
        }
      }
    }
    .newMessage {
      border: 2px solid #00aff0;
      color: #00aff0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: relative;
      transition: all 0.5s ease-in-out;
      float: right;
      margin: auto 0 0 auto;
      h1 {
        margin: 0;
        position: absolute;
        font-size: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background: #00aff0;
        color: white;
      }
    }
  }
  .message-btn {
    position: absolute;
    bottom: 20px;
    // margin: 0 0 0 10px;
    button {
      background: #00aff0;
      margin: 0;
      font-size: 14px;
      width: 150px;
      border-radius: 10px;
      &:disabled,
      button[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
        border: none;
      }
    }
  }
}

.messages-link,
.message-link {
  // border: 1px solid #00aff0;
  padding: 12px;
  border-radius: 8px;
  background-color: #00aff0;
  color: white;
  margin: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  outline: 0;
  &:disabled,
  button[disabled] {
    background: lightgray;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    border: none;
  }

  // &:hover {
  //   // background: #377da5;
  //   box-shadow: 2px 2px 2px rgb(189, 186, 186);
  // }
}
