.detail-exam {
  border: 1px solid #4092c2;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  top: 2px;
  float: left;
  margin: 100px auto 0 auto;
  width: 60%;
  .detail {
    position: relative;
    .divSelectButton {
      .select-option {
        width: 200px;
        margin: 0 10px 0 0;
      }
    }
    p {
      color: #4092c2;
    }

    .col-sm-10 {
      position: relative;
      height: 50px;

      .btn {
        position: relative;
        border: 1px solid #4092c2;
        height: 37px;
        left: 120px;
        top: -37px;
      }
    }
    .messages-link,
    .message-link {
      border: 1px solid #4092c2;
      padding: 6px;
      border-radius: 8px;
      background-color: #4092c2;
      color: white;
      margin: 5px;
      transition: all 0.5s ease-in-out;
      outline: 0;

      &:hover {
        background: #377da5;
        box-shadow: 2px 2px 2px rgb(189, 186, 186);
      }
    }
  }
}
