.mainDoctorDiv {
  width: 63%;
  height: 500px;
  margin: 80px auto 0 auto;
  background: #f3f3f3;
  position: relative;
  border-radius: 15px;
  border-top-left-radius: 0;

  .doctorsAbove {
    position: absolute;
    top: -39px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 250px;
    font-size: 15px;
    height: 40px;

    background: #f3f3f3;
    display: flex;
    img {
      margin: 0 10px 0 15px;
    }
    h4 {
      font-size: 15px;
      font-weight: 450;
      color: #666666;
    }
  }

  .row2 {
    // width: 90%;
    margin: 0 auto;
    color: #666666;
    .mainDoctorInfoDiv {
      display: flex;
      justify-content: space-between;
      padding: 40px 15px 0 15px;
      .imageDiv {
        border: 1.7px solid #666666;
        height: 170px;
        width: 150px;
        p {
          font-size: 100px;
          text-align: center;
          padding: 12px 0 0 0;
        }
        img {
          width: 145px;
          height: 165px;
          object-fit: cover;
        }
      }
      div {
        width: 33.3%;
        p {
          text-align: left;
          margin-bottom: 20px;
          span {
            font-weight: 700;
          }
        }
      }
    }
    .BiographyDiv {
      width: 54%;
      margin: 0 40px 0 auto;
      .pForBio {
        font-weight: 700;
        text-align: left;
      }
      textarea {
        resize: none;
        width: 100%;
        height: 150px;
        border: none;
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-button:single-button {
          // background-color: #bbbbbb;
          display: block;

          height: 13px;
          width: 16px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #fa9551;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #db8246;
        }
      }
    }
  }
}
