.exam {
  width: 100%;
  margin-top: 50px;

  .mainExam {
    display: flex;
  }

  .exam-spec {
    width: 300px;
    margin: 0 10px 10px 0;
  }

  .exam-doc {
    width: 300px;
    margin-right: 10px;
  }

  .exam-sub {
    width: 490px;
  }

  .exam-mess {
    height: 200px;

    .form-control {
      height: 200px;
    }
  }

  #subject {
    height: 38px;
  }

  .btn {
    margin: 10px auto;
    color: white;
    background: rgb(0, 191, 255);
    transition: all 0.5s ease-in-out;
    &:hover {
      background: rgb(1, 111, 148);
      box-shadow: 2px 2px 2px black;
    }
    // .submit-link {
    //   color: white;
    // }
  }
}
