.exam {
  .mainExam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    background: #f2f2f2;
    padding: 30px 20px;
    margin: 80px auto 20px auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;

    .newEmail {
      display: flex;
      align-items: center;
      background: #f2f2f2;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      position: absolute;

      top: -40px;
      left: 0;
      height: 40px;
      width: 150px;
      img {
        margin: 0 10px 0 15px;
      }
      p {
        margin: 0;
        font-weight: 400;
      }
    }
    .exam-spec {
      #speciality {
        margin-top: 10px;
      }
    }
    .exam-sub {
      width: 305px;
      .form-control {
        height: 40px;
        border: 1.7px solid #fa9551;
        border-radius: 10px;
        width: 305px;
        margin-left: 2px;
        font-weight: 600;
        background: white;
        color: #666666;
      }
    }
  }

  .exam-mess {
    // height: 200px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    padding: 30px 20px;

    .messageTitle {
      height: 40px;
      background: #fa9551;
      color: white;
      font-weight: 600;
      text-align: start;
      display: flex;
      align-items: center;
      text-indent: 12px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    .form-control {
      height: 200px;
      border: none;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      resize: none;
    }
    .buttons {
      display: flex;
      .btn {
        margin: 30px 10px 0 0;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        font-weight: 500;
        color: white;
        background: #00aff0;
        transition: all 0.5s ease-in-out;
        outline: 0;
        &:hover {
          box-shadow: 2px 2px 2px black;
        }
        &:focus {
          outline: 0;
          border: none;
        }
        &:active {
          outline: 0;
          border: none;
        }
        // .submit-link {
        //   color: white;
        // }
      }
      .btnattach {
        margin: 30px 0 0 0;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        font-weight: 500;
        border-radius: 5px;
        color: white;
        background: #00aff0;
        transition: all 0.5s ease-in-out;
        outline: 0;
        border: none;
        &:hover {
          box-shadow: 2px 2px 2px black;
        }
        &:focus {
          outline: 0;
          border: none;
        }
        &:active {
          outline: 0;
          border: none;
        }
      }
    }
  }

  #subject {
    height: 38px;
  }
}
