.doctor-form {
  margin: 5px 0;
  color: white;
}

.nav-client h6 {
  margin: 100px auto 0 auto;
  color: #4092c2;
  font-size: 16px;
}

.mainClientMessage {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  h5 {
    color: #4092c2;
  }
  .input {
    .form-control {
      width: 100%;
    }
    .file {
      margin: 10px 0;
    }
  }
}

.input {
  position: relative;

  .form-control {
    width: 50%;
    position: relative;
    height: 200px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 5px;
    position: relative;
    float: left;
    width: 200px;
    border: none;
    color: white;
    background: #4092c2;
    transition: all 0.5s ease-in-out;
    outline: 0;
    &:hover {
      background: rgb(1, 111, 148);
      box-shadow: 2px 2px 2px black;
    }
  }
}

.attachment {
  width: 200px;
  margin: 5px;
  text-align: left;
  position: relative;
  height: 80px;
  padding: 5px;
  border: 1px solid rgba(33, 201, 243, 0.658);
}
