.mainClien {
  display: flex;

  width: 65%;
  margin: 80px auto 20px auto;
  background: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  .newVideo {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;

    top: -40px;
    left: 0;
    height: 40px;
    width: 140px;
    img {
      margin: 0 10px 0 15px;
    }
    p {
      margin: 0;
      font-weight: 400;
    }
  }

  .client {
    width: 50%;

    padding: 20px 20px 20px 60px;
    margin: 20px 0 20px 0;

    .client-p {
      display: flex;
      flex-direction: column;
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      input {
        height: 40px;
        border: 1.7px solid #fa9551;
        border-radius: 10px;
        background: white;
        margin: 2px 0 20px 0;
        text-indent: 15px;
        font-weight: 700;

        &::placeholder {
          font-weight: 700;
        }
      }
      label {
        color: #666666;
        text-align: left;
      }

      .saveChanges {
        background: #00aff0;
        width: 100px;
        height: 35px;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        // margin: 25px 0 0 0;
      }
    }
  }

  .form {
    padding: 20px 60px 20px 20px;
    margin: 20px 0 20px 0;
    width: 50%;
    .conditions {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-weight: 700;
      color: #666666;
      textarea {
        height: 190px;
        border: 1.7px solid #fa9551;
        border-radius: 10px;
        background: white;
        margin: 5px 0 10px 0;
        text-indent: 15px;
        font-weight: 700;
        resize: none;

        &::placeholder {
          font-weight: 700;
        }
      }
    }
    .allergies {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-weight: 700;
      color: #666666;
      textarea {
        border: 1.7px solid #fa9551;
        border-radius: 10px;
        background: white;
        margin: 5px 0 20px 0;
        text-indent: 15px;
        font-weight: 700;
        height: 190px !important;
        resize: none;

        &::placeholder {
          font-weight: 700;
        }
      }
    }
    .checkboxDiv {
      display: flex;
      margin: 8px 0 20px 0;
      .Male {
        margin: 0 20px 0 0;
      }

      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }

      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
      }

      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        content: "";
        position: absolute;
        left: 0;
        width: 17px;
        height: 17px;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        outline: none;
        border: 1px solid #00aff0;
      }

      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        content: "✔";
        position: absolute;
        top: 3px;
        left: 2px;
        font-size: 15px;
        line-height: 0.8;
        color: #00aff0;
        transition: all 0.2s;
      }

      [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }

      [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }
    .profilePic {
      display: flex;
      margin: 20px 0 0 0;
      align-items: flex-start;
      p {
        padding: 25px 0 0 3px;
        font-weight: 600;
        color: #666666;
      }
      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        .btn {
          margin: 0;
          border: 1.7px solid #666666;
          width: 130px;
          height: 150px;
          padding: 0;
          background: transparent !important;
          .docImage {
            width: 125px;
            height: 145px;
            object-fit: cover;
            // border-radius: 50%;
          }
          p {
            font-size: 100px;
            padding: 0;
          }
        }
      }

      .upload-btn-wrapper input[type="file"] {
        font-size: 100px;
        position: absolute;
        background: #00aff0;

        left: 0;
        top: -20px;
        width: 60px;
        opacity: 0;
      }

      .cliImage {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
