.exam {
  .mainExam {
    display: flex;
    align-items: center;
    width: 65%;
    background: #f2f2f2;
    padding: 30px 20px;
    margin: 80px auto 20px auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;

    .newVideo {
      display: flex;
      align-items: center;
      background: #f2f2f2;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      position: absolute;

      top: -40px;
      left: 0;
      height: 40px;
      width: 210px;
      img {
        margin: 0 10px 0 15px;
      }
      p {
        margin: 0;
        font-weight: 400;
      }
    }
    .exam-spec {
      width: 305px;
      margin: 0 10px 10px 0;
    }

    .exam-doc {
      width: 305px;
      margin-right: 10px;
    }

    .exam-sub {
      width: 305px;
    }
  }

  .DatePicker {
    width: 100%;
    height: 500px;
    margin: 20px auto 20px auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    border-radius: 15px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    .exam-mess {
      border-radius: 15px;
      width: 49%;
      height: 347px;
      padding: 0;
      margin: 0;
      color: #666666;
      textarea {
        border: 1.7px solid #00aff0 !important;
        border-radius: 15px;
        height: 100%;
        margin: 0;

        ::placeholder {
          font-weight: 700;
        }
      }
    }

    .MainDate {
      position: relative;
      border-radius: 15px;
      height: 347px;
      width: 49%;
      .disabledDiv {
        width: 100%;
        height: 98%;
        position: absolute;
        z-index: 1;
      }
      div {
        .react-datepicker {
          display: flex;
          flex-direction: column;
          border-radius: 15px;
          border: 1.7px solid #00aff0;

          .react-datepicker__navigation {
            // margin: 20px 30px 0 10px;
            width: 10px;
            height: 10px;
          }
          .react-datepicker__navigation--previous {
            position: absolute;
            left: 60px;
            top: 22px;
          }
          .react-datepicker__navigation--next {
            position: absolute;
            right: 60px;
            top: 22px;
          }
          .react-datepicker__month-container {
            .react-datepicker__header {
              background: transparent;
              padding: 0;
              width: 360px;
              margin: 0 auto;
              border-bottom: 1.5px solid #00aff0;
              .react-datepicker__current-month {
                font-size: 20px;
                margin: 10px 0;
                color: #666666;
              }
              .react-datepicker__day-names {
                margin: 0 auto 3px auto;
                color: #666666;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                // .react-datepicker__day-name {
                // }
              }
            }
            // width: 100%;
            .react-datepicker__month {
              margin: 0 auto 0 auto;
              height: 170px;
              width: 360px;
              .react-datepicker__week {
                display: flex;
                justify-content: space-around;
                align-items: center;
                // margin-bottom: 15px;
                height: 34px;
                .react-datepicker__day {
                  font-size: 20px;
                  text-align: center;
                  color: #00aff0;
                  font-weight: 700;
                }
                .react-datepicker__day--selected {
                  margin: 0;
                  width: 30px;
                  padding: 5px 0 0 0;
                  height: 30px;
                  background: #fa9551;
                  color: white;
                }
                .react-datepicker__day--disabled,
                .react-datepicker__day--outside-month {
                  color: #b3b2b2;
                  font-weight: 500;
                }
              }
            }
          }
          .react-datepicker__time-container {
            position: absolute;
            bottom: -100px;
            left: -1px;
            display: flex;
            flex-direction: column;
            // height: 150px;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 1.7px solid #00aff0;
            border-radius: 15px;
            background: white;

            .react-datepicker__header--time {
              height: 46px;
              background: white;
              // background: transparent;
              border-bottom: 1.5px solid #00aff0;
              width: 90%;
              margin: 0 auto;
              .react-datepicker-time__header {
                font-size: 20px;
                margin-bottom: 10px;
                color: #666666;
                text-transform: capitalize;
              }
            }
            .react-datepicker__time {
              font-size: 12px;
              margin: 10px 0 0 0;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;

              .react-datepicker__time-box {
                height: 30px;
                width: 380px;
                .react-datepicker__time-list {
                  overflow-y: hidden;
                  height: 30px !important;
                  display: flex;
                  color: #00aff0;
                  font-weight: 600;
                  overflow-x: scroll;
                  &::-webkit-scrollbar {
                    width: 10px;
                    height: 5px;
                  }

                  /* Track */
                  &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 5px;
                  }

                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    background: #fa9551;
                    // border: 1px solid blue;
                    border-radius: 5px;
                  }
                  // &::-webkit-scrollbar-button:single-button {
                  //   background-color: #bbbbbb;
                  //   display: block;
                  //   border-style: solid;
                  //   height: 13px;
                  //   width: 16px;
                  // }
                  /* Handle on hover */
                  &::-webkit-scrollbar-thumb:hover {
                    background: #db8246;
                  }
                  .react-datepicker__time-list-item--selected {
                    background: #00aff0;
                    color: white;
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    position: relative;
    .divAndAttach {
      background: #f2f2f2;
      width: 180px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      position: absolute;
      bottom: 30px;
      left: 0;

      .send {
        margin: 10px auto;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: white;
        background: #00aff0;
        transition: all 0.5s ease-in-out;
        outline: none;
        &:hover {
          box-shadow: 2px 2px 2px black;
        }
      }

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }

      .upload-btn-wrapper input[type="file"] {
        font-size: 100px;
        position: absolute;
        background: #00aff0;
        left: 0;
        top: 0;
        width: 60px;
        opacity: 0;
      }
    }
  }
  #file {
    width: 60%;
    margin: 10px auto 0 auto;
  }
}

#subject {
  height: 38px;
}
