.exam {
  width: 65%;
  margin-top: 80px auto 167px auto;
  margin: 0 auto;

  .mainExam {
    display: flex;
    width: 100%;
    .exam-spec {
      width: 305px;
      margin: 0 10px 10px 0;

      #speciality {
        select[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
        }
      }
    }

    .exam-doc {
      width: 305px;
      margin-right: 10px;

      #doctor {
        select[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
        }
      }
    }

    .exam-sub {
      width: 305px;
    }
  }

  .form-control {
    height: 250px;
  }

  .queue {
    margin: 20px 0 20px 0;
    padding: 40px 20px 90px 20px;

    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    // grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // grid-gap: 5px;

    .exam-mes {
      height: 300px;
      width: 64%;
      textarea {
        border: 1.7px solid #00aff0;
        border-radius: 15px;
        height: 300px;
        resize: none;
        // width: 400px;
        // border: none;
      }
    }

    .queueInfo {
      //   margin-left: 5px;
      background: white;
      border: 1.7px solid #00aff0;
      border-radius: 15px;
      height: 300px;
      width: 35%;

      .queueMain {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        .statusQueue {
          p {
            color: #666666;
            margin: 0;
            font-weight: 700;
            padding: 15px 15px 0 12px;
            text-align: start;
          }
          div {
            width: 150px;
            // margin: 0 auto;
            border-radius: 10px;
            margin: 15px 15px 0 12px;

            h4 {
              padding: 10px;
              margin: 0;
              font-weight: 600;
            }
          }
        }
        .timeEst {
          margin: 20px 0px;
          p {
            color: #666666;
            font-weight: 700;
            text-align: start;
            padding: 0 0 0 12px;
          }
          div {
            margin: 15px 15px 0 12px;
            width: 150px;
            border-radius: 10px;
            border: 1.7px solid #808080;
            color: #666666;
            height: 40px;
            font-weight: 700;
            p {
              padding: 9px;
              border-right: 1px solid #808080;
              float: left;
              display: flex;
              align-items: center;
              color: #666666;
              height: 30px;
              margin: 4px 0 0 0;
            }
          }
        }
      }
    }
    .startandexit {
      display: flex;
      justify-content: center;
      margin: 20px 0 0 0;
      .exitQueue {
        color: #00aff0;
        padding: 5px;
        background: white;
        border: 1.7px solid #00aff0;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
        transition: all 0.5s ease-in-out;
        outline: none;
        margin-left: 5px;
        &:hover {
          // box-shadow: 2px 2px 2px black;
          background: #00aff0;
          color: white;
        }
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
        }
      }
      button {
        color: #00aff0;
        padding: 5px;
        background: white;
        border: 1.7px solid #00aff0;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        outline: none;
        width: 150px;
        &:hover {
          cursor: pointer;

          background: #00aff0;
          color: white;
        }
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
        }
      }
    }
  }
  #file {
    width: 100%;
    margin: 10px 0 0 0;
  }
  position: relative;
  .divAndAttach {
    background: #f2f2f2;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 0;

    .startThatChat {
      margin: 10px auto;
      width: 180px;
      height: 40px;
      border: none;
      border-radius: 5px;
      color: white;
      background: #00aff0;
      transition: all 0.5s ease-in-out;
      outline: none;
      &:disabled,
      button[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 2px 2px 2px black;
      }
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      background: #00aff0;
      left: 0;
      top: 0;
      width: 60px;
      opacity: 0;
    }
  }
}

.detailExam {
  background: #f2f2f2;
  position: relative;
  padding: 40px 40px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  top: 2px;
  // float: left;
  text-align: left;
  margin: 80px auto 0 auto;
  width: 65%;
  min-height: 400px;
  display: flex;
  height: 500px;

  .detail2 {
    color: #666666;
    display: flex;
    .detailInfo2 {
      width: 35%;
      padding: 20px 10px 10px 10px;
      overflow: hidden;
      .ClientP {
        text-indent: 10px;
        span {
          font-weight: 700;
        }
      }
      .MainIconsDiv {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        img {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .MainDivForChat {
        p {
          background: #fa9551;
          color: white;
          height: 30px;
          text-indent: 10px;
          font-weight: 700;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          display: flex;
          align-items: center;
          margin: 0;
        }
        #messages {
          height: 150px;
          margin: 0;
          border: 0;

          p {
            position: relative;
            margin-top: 25px !important;
            margin-bottom: 20px !important;
            span {
              display: flex;
              position: absolute;
              top: -18px;
              left: -2px;
              width: 48px;
              text-indent: 0;
            }
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #e6e6e6;
            border: 1px solid white;
            border-radius: 5px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #1184c7;
          }
          p {
            font-weight: 400 !important;
            color: #666666;
          }
        }
        .inputMessage {
          #send {
            visibility: hidden;
            height: 10px;
          }
          #yourMessage {
            border: 0;
            width: 100%;
            height: 30px;
            text-indent: 10px;
          }
        }
      }
      video {
        // height: 100px !important;
        width: 330px !important;
        height: 170px !important;
        background: #e6e6e6;
      }
    }
    #videoChat {
      height: 100%;
      width: 65%;
      position: relative;
      .vid {
        width: 640px;
        position: absolute;
        // right: -20px
        top: 7px;
      }

      .extendScreen {
        position: absolute;
        z-index: 5;
        top: 450px;
        right: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .exam {
    width: 80%;
  }
}

#subject {
  height: 38px;
}

.btn {
  margin: 10px auto;
  color: white;
  background: #00aff0;
  transition: all 0.5s ease-in-out;
  outline: 0;
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  &:disabled,
  button[disabled] {
    background: lightgray;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
  }
}

.footerr {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#videoo {
  background: rgba(0, 0, 0, 0.9);
  min-width: 400px;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  #topControler {
    display: flex;
    color: white;
    float: right;
    font-size: 15px;
    .icon1,
    .icon2 {
      margin: 5px 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #mainChatVideo {
    width: 100%;
    height: 96%;
    display: flex;

    #form {
      width: 50%;
      #messages {
        position: absolute;
        bottom: 10%;
        width: 50%;
        height: 80%;
        overflow-y: auto;
      }
      .inputMessage {
        display: flex;
        width: 50%;
        position: fixed;
        bottom: 3%;
        #yourMessage {
          width: 100%;
        }
        #send {
          margin-left: 5px;
          padding: 0 10px;
        }
      }
    }
    #videoChat {
      position: relative;

      video {
        width: 100%;
        height: 90%;
      }

      .chatRoom {
        display: flex;
        position: absolute;
        left: 0;
        top: 42%;
        width: 30px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        align-items: center;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        justify-content: center;
        font-size: 15px;
        color: white;
        z-index: 2;
        &:hover {
          cursor: pointer;
        }
      }
      #functionality {
        position: absolute;
        bottom: 6%;
        width: 100%;
        height: 70px;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;

        .iconMic {
          color: rgb(223, 217, 217);
          width: 30px;
          height: 30px;
        }
        .iconMicUnmute {
          width: 30px;
          height: 30px;
        }
        .iconPhone {
          color: red;
          width: 60px;
          height: 60px;
        }
        .iconVideo {
          color: rgb(223, 217, 217);
          width: 30px;
          height: 30px;
        }
        .iconVideoShow {
          width: 30px;
          height: 30px;
        }
        .iconMic,
        .iconVideoShow,
        .iconMicUnmute,
        .iconPhone,
        .iconVideo {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
