.exam {
  width: 100%;
  margin-top: 50px;

  .mainExam {
    display: flex;
  }

  .exam-spec {
    width: 300px;
    margin: 0 10px 10px 0;

    #speciality {
      select[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
      }
    }
  }

  .exam-doc {
    width: 300px;
    margin-right: 10px;

    #doctor {
      select[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
      }
    }
  }

  .exam-sub {
    width: 490px;
  }

  .form-control {
    height: 250px;
  }

  .queue {
    margin: 20px 0 0 0;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;

    .exam-mes {
      height: 250px;
    }

    .queueInfo {
      //   margin-left: 5px;
      border: 1px solid lightGray;
      border-radius: 5px;
      height: 250px;
      h5 {
        margin: 0;
        color: green;
        padding: 5px;
        background: rgb(119, 228, 119);
      }
      .queueMain {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .statusQueue {
          margin: 20px auto;
          p {
            color: gray;
          }
          div {
            width: 200px;
            margin: 0 auto;
            border-radius: 5px;
            background: rgb(248, 157, 157);
            h4 {
              padding: 10px;
              color: red;
            }
          }
        }
        .timeEst {
          margin: 20px auto;
          p {
            color: gray;
          }
          div {
            width: 200px;
            margin: 0 auto;
            border-radius: 5px;
            border: 1px solid lightgray;
            color: gray;
            height: 40px;
            p {
              padding: 9px;
              border-right: 1px solid lightgray;
              float: left;
              color: gray;
              margin: none;
            }
          }
        }
      }
    }
    .exitQueue {
      color: red;
      padding: 5px;
      background: rgb(248, 157, 157);
      border: none;
      border-radius: 5px;
      padding: 10px;
      transition: all 0.5s ease-in-out;
      outline: none;
      margin-left: 5px;
      &:hover {
        box-shadow: 2px 2px 2px black;
        background: rgb(161, 37, 37);
        color: rgb(248, 157, 157);
      }
      &:disabled,
      button[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
      }
    }
    button {
      color: green;
      padding: 5px;
      background: rgb(119, 228, 119);
      border: none;
      border-radius: 5px;
      padding: 10px;
      transition: all 0.5s ease-in-out;
      outline: none;
      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px black;
        background: rgb(1, 165, 1);
        color: rgb(119, 228, 119);
      }
      &:disabled,
      button[disabled] {
        background: lightgray;
        color: white;
        cursor: not-allowed;
        box-shadow: none;
        pointer-events: none;
      }
    }
  }
}

#subject {
  height: 38px;
}

.btn {
  margin: 10px auto;
  color: white;
  background: rgb(0, 191, 255);
  transition: all 0.5s ease-in-out;
  &:hover {
    background: rgb(1, 111, 148);
    box-shadow: 2px 2px 2px black;
  }
  &:disabled,
  button[disabled] {
    background: lightgray;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
  }
}
