.page-footer {
  width: 100%;
  background: #e4e2dc;
  height: 167px;
  color: #242529;
}

.mainFooter {
  display: flex;

  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  .contact {
    h3 {
      font-weight: bold;
      font-size: 15pt;
    }
    text-align: start;
    list-style: none;
    li {
      font-size: 13pt;
      font-weight: 500;
      margin: 0 0 2px 0;
    }
    .mail {
      margin: 0 4px 0 0;
    }

    .phone {
      margin: 0 4px 0 0;
    }
    .mapPin {
      margin: 0 4px 0 0;
    }
  }

  .company {
    h3 {
      font-weight: bold;
      font-size: 15pt;
      color: #242529;
    }
    text-align: start;
    list-style: none;
    color: #242529;
    li {
      font-size: 13pt;
      font-weight: 500;
      margin: 0 0 2px 0;
    }
    .aboutClass,
    .blockClass,
    .careersClass,
    .faqClass {
      color: #242529;
      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none;
        list-style: none;
        outline: 0;
      }
    }
  }
  .social {
    h3 {
      font-weight: bold;
      font-size: 15pt;
    }
    .socialMedia {
      display: flex;
      justify-content: space-evenly;
      .insta,
      .facebook,
      .linkedin,
      .twitter {
        font-size: 20px;
        margin-top: 10px;
        transition: all 0.5s ease-in-out;
        color: #242529;
      }
    }
    p {
      margin: 46px 0 0 0;
    }
  }
}

@media (max-width: 1400px) {
  .mainFooter {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mainFooter {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
