.container {
  position: relative;
  width: 70%;

  .name {
    display: inline-block;
    float: left;
    width: 150px;

    .name-link {
      color: rgb(0, 191, 255);
      text-decoration: none;
    }
  }
}
