.row {
  .treatment {
    width: 60%;
    margin: 50px auto 10px auto;
    color: #4092c2;

    h2 {
      font-weight: bold;
      font-size: 30pt;
      margin: 70px 0;
      color: #4092c2;
    }
    .treatmentIcons {
      width: 100%;
      margin: 40px auto 40px auto;
      display: flex;
      justify-content: space-around;

      .medical {
        width: 200px;
        img {
          width: 110px;
          height: 110px;
        }
        p {
          font-weight: 600;
          font-size: 20pt;
          line-height: 30px;
          margin-top: 5px;
        }
      }
      .behavior {
        width: 200px;
        img {
          width: 110px;
          height: 110px;
        }
        p {
          font-weight: 600;
          font-size: 20pt;
          line-height: 30px;
          margin-top: 5px;
        }
      }
      .dermatology {
        width: 200px;
        img {
          width: 110px;
          height: 110px;
          margin: 0 auto;
        }
        p {
          font-weight: 600;
          font-size: 20pt;
          line-height: 30px;
          margin-top: 5px;
        }
      }
    }
  }

  .mindAndBody {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 60%;
    margin: 20px auto 0 auto;

    img {
      margin: 0 20px 0 auto;
      width: 350px;
    }
    .iphoneNandroid {
      text-align: start;
      align-self: flex-end;

      .getIt {
        margin: 50px 0 0 0;
        img {
          width: 200px;
          height: 55px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      h1 {
        font-weight: 900;
        color: #4092c2;
        font-size: 50pt;
        line-height: 70px;
        margin: 0 0 30px 0;
        span {
          color: #66af94;
          font-weight: 500;
          font-size: 50pt;
        }
      }
      p {
        color: #4092c2;
        font-weight: 500;
        font-size: 17pt;
        margin: 30px 0;
      }
    }
  }

  .MainIconInfoDiv {
    margin: 70px auto 0 auto;
    width: 60%;
    img {
      width: 400px;
      height: 90px;
    }
    h1 {
      color: #4092c2;
      font-weight: 900;
      font-size: 50pt;
      span {
        color: #66af94;
        font-weight: lighter;
      }
    }
    .treatmentIcons {
      display: flex;
      justify-content: space-around;
      margin: 90px 0;
      .visitAdoctor,
      .convenient,
      .inconveniance,
      .prescriptions {
        img {
          width: 110px;
          height: 110px;
          margin: 0 auto;
        }
        p {
          line-height: 16px;
          margin: 10px 0 0 0;
          color: #4092c2;
          font-weight: 500;
          font-size: 14pt;
        }
      }
    }
  }

  .medicalInfo {
    background: #4092c2;
    .medicalSpeciality {
      display: flex;
      justify-content: center;
      padding: 50px;
      margin: 0 auto 10px auto;
      img {
        width: 110px;
        height: 110px;
        margin-right: 10px;
      }
      p {
        align-self: center;
        color: white;
        font-size: 50pt;
        font-weight: 900;
      }
    }
    .dotedinfo {
      p {
        color: white;
        font-weight: 600;
        font-size: 21pt;
        line-height: 35px;
        .dot {
          font-size: 20px;
          margin: 0 2px;
        }
      }
    }
    .seeDoctor {
      width: 275px;
      margin: 20px auto 50px auto;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 1px rgb(77, 77, 77);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .behavioralInfo {
    .behavioralSpeciality {
      display: flex;
      justify-content: center;
      padding: 50px;
      margin: 0 auto 10px auto;
      img {
        width: 110px;
        height: 110px;

        margin-right: 10px;
      }
      p {
        align-self: center;
        color: #4092c2;
        font-size: 50pt;
        font-weight: 900;
      }
    }
    .dotedinfo {
      p {
        color: #4092c2;
        font-weight: 600;
        font-size: 21pt;
        line-height: 35px;
        .dot {
          font-size: 20px;
          margin: 0 2px;
        }
      }
    }
    .seeDoctor {
      width: 275px;
      margin: 20px auto 50px auto;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 1px rgb(77, 77, 77);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .dermatologyInfo {
    background: #4092c2;
    .dermatologySpeciality {
      display: flex;
      justify-content: center;
      padding: 50px;
      margin: 0 auto 10px auto;
      img {
        width: 110px;
        height: 110px;
        margin-right: 10px;
      }
      p {
        align-self: center;
        color: white;
        font-size: 50pt;
        font-weight: 900;
      }
    }
    .dotedinfo {
      p {
        color: white;
        font-weight: 600;
        font-size: 21pt;
        line-height: 35px;
        .dot {
          font-size: 20px;
          margin: 0 2px;
        }
      }
    }
    .seeDoctor {
      width: 275px;
      border-radius: 10px;
      margin: 20px auto 50px auto;
      box-shadow: 1px 1px 10px 1px rgb(77, 77, 77);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .RowsClients {
    background: #4092c2;
    margin-top: 70px;
    height: 180px;

    .howItWorks {
      width: 67%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      color: white;
      text-align: start;

      .signUpp {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        height: 100%;
        position: relative;
        width: 270px;

        .sticky_div {
          font-size: 21pt;
          font-weight: 600;
          position: absolute;
          top: -30px;
          right: 45px;

          background: #4092c2;
          padding: 5px 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .number {
          width: 110px;
          height: 110px;
          align-self: center;
          margin: 0 5px;
        }
        .signUpDiv {
          align-self: center;
          h3 {
            font-size: 14pt;
            font-weight: bold;
          }
          h5 {
            font-size: 14pt;
            font-weight: 500;
          }
        }
      }
      .startChat {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 300px;

        .number {
          width: 110px;
          height: 110px;
          align-self: center;
          margin: 0 5px;
        }
        .startChattingDiv {
          align-self: center;
          h3 {
            font-size: 14pt;
            font-weight: bold;
          }
          h5 {
            font-size: 14pt;
            font-weight: 500;
          }
        }
      }
      .talkToDoctor {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        height: 100%;
        width: 410px;

        .number {
          width: 110px;
          height: 110px;
          align-self: center;
          margin: 0 5px;
        }
        .talkToDoctorDiv {
          align-self: center;
          h3 {
            font-size: 14pt;
            font-weight: bold;
          }
          h5 {
            font-size: 14pt;
            font-weight: 500;
          }
        }
      }
    }
  }
  .headers {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .headersInfo {
      position: absolute;
      bottom: 45%;
      left: 20%;
      text-align: start;
      color: #4092c2;
      img {
        width: 650px;
        height: 140px;
      }
      h1 {
        font-size: 50pt;
        margin-top: 10px;
        font-weight: bold;
      }
      span {
        color: #4092c2;
        font-weight: 50;
      }
      h4 {
        font-weight: 500;
        font-size: 17pt;
        letter-spacing: -1px;
      }
    }

    .headersImages {
      display: flex;
      align-items: center;
      justify-content: space-around;

      div {
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}
.doctor {
  border-radius: 5px;

  .rounded-pill {
    width: 50%;
    text-align: left;
    padding: 5px;

    p {
      border-bottom: 1px solid rgb(29, 29, 150);
      color: rgb(29, 29, 150);
      text-indent: 10px;
    }
  }
}
