.row {
  margin: 60px 0 0 0;
  .headers {
    position: relative;
    img {
      width: 100%;
      // height: 100%;
    }
    .headersInfo {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%);
      text-align: start;
      color: #00aff0;
      width: 85%;

      img {
        height: 140px;
        margin: 0 auto 20px auto;
      }
      h1 {
        font-size: 35pt;
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
      }
      h4 {
        font-weight: 600;
        font-size: 25pt;
        letter-spacing: -1px;
        text-align: center;
      }
    }
    .MainDivInfo {
      position: absolute;
      bottom: 140px;
      left: 50%;
      transform: translate(-50%);
      width: 85%;
      display: flex;
      justify-content: space-between;

      .firstDivInfo,
      .secondDivInfo,
      .thirdDivInfo,
      .fourthDivInfo,
      .fifthDivInfo {
        background: #00aff0;
        border-radius: 10px;
        color: white;
        width: 200px;
        height: 330px;
        position: relative;
        .iconAbove1,
        .iconAbove2,
        .iconAbove3,
        .iconAbove4,
        .iconAbove5 {
          background: #fa9551;
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%);
          font-size: 28px;
          font-weight: bold;
          width: 40px;
          height: 40px;
          margin: 0;
          padding: 0;
          border-radius: 50%;
        }
        h1 {
          margin: 25px auto 0 auto;
          font-size: 17px;
          padding: 5px 0;
          text-align: center;

          font-weight: bold;
          border-bottom: 3px solid white;
          border-top: 3px solid white;
        }
        .signUp {
          width: 74px;
        }
        .requestConsu {
          width: 139px;
        }
        .conswithD {
          width: 140px;
        }
        .securePay {
          width: 90px;
        }
        .clientDash {
          width: 118px;
        }
        p {
          padding-top: 10px;
          font-size: 14px;
        }
        img {
          width: 100px;
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%);
        }
        .payment {
          width: 120px !important;
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%);
        }
      }
    }
  }
}
