
.panel{
    position: relative;
    width: 400px;
    height: 150px;
    margin-left: 0px;
    padding: 5em;
    padding-top: 8px;
    margin-bottom: 3px;

    .profile{
        position: relative;
        width: 5px;
        left: 390px;
        bottom: -10px;
        .btn {
            color: white;
            position: absolute;
        }
    }
    .consultation{
        position: relative;
        width: 1px;
        left: 385px;
        bottom: -50px;
        .btn {
            color: white;
            position: absolute;
        }
    }
    
}
