.nav {
  ul {
    display: flex;
    float: right;

    .inic {
      background: lightblue;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgb(48, 100, 179);
      .initials {
        color: white;
        text-align: center;
        margin-top: 9px;
        // margin-top: 17px;
      }
    }
    li {
      padding: 0;
      margin-top: 5px;
      a {
        color: rgb(0, 191, 255);
        background: none;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: none;
          color: rgb(3, 137, 182);
        }
        &:link {
          background: none;
        }
      }
    }
  }
  .li-reg {
    .register {
      color: rgb(0, 191, 255);
      background-color: transparent;
    }
  }

  .li-log {
    .login {
      color: rgb(0, 191, 255);
      background-color: transparent;
    }
  }
}
