.nav {
  ul {
    display: flex;
    float: right;
    li {
      padding: 0;
      margin-top: 5px;
      a {
        color: rgb(0, 191, 255);
        background: none;
        &:hover {
          background: none;
        }
        &:link {
          background: none;
        }
      }
    }
  }
  .li-reg {
    .register {
      color: rgb(0, 191, 255);
      background-color: transparent;
    }
  }

  .li-log {
    .login {
      color: rgb(0, 191, 255);
      background-color: transparent;
    }
  }
}
