.nav {
  ul {
    display: flex;
    float: right;
    .topProfile {
      width: 100%;
      display: flex;
      // margin: 80px auto 0 auto;
      .mainProfile {
        border: 1px solid #4092c2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: white;
        position: relative;
        .onlineDot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: green;
          position: absolute;
          top: 0px;
          right: 2px;
        }
        .profile {
          color: white;
          font-size: 60px;
          background: rgb(189, 235, 250);
          width: 46px;
          height: 46px;
          align-items: center;
          overflow: hidden;
          border-radius: 50%;
          margin: 1px auto 3px auto;
          .icon {
            margin: 10px 0 0 0;
          }
        }
      }
      p {
        margin: 3px 5px;
        color: #4092c2;
        font-weight: 500;
        align-self: center;
      }
    }
    .inic {
      background: lightblue;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgb(48, 100, 179);
      .initials {
        color: white;
        text-align: center;
        margin-top: 9px;
        // margin-top: 17px;
      }
    }
    li {
      padding: 0;
      margin-top: 5px;
      font-weight: 600;
      font-size: 12pt;
      a {
        color: #4092c2;
        background: none;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: none;
          color: rgb(3, 137, 182);
        }
        &:link {
          background: none;
        }
      }
    }
  }
  .li-reg {
    .register {
      color: #4092c2;
      font-weight: 600;
      font-size: 12pt;
      background-color: transparent;
    }
  }

  .li-log {
    .login {
      color: white;
      font-size: 12pt;
      font-weight: 600;
      background-color: #4092c2;
      height: 26px;
      padding: 2px 10px 2px 10px;
      margin: 12px 0 0 0;
      border-radius: 5px;
    }
  }
}
