.nav {
  ul {
    display: flex;
    float: right;
  }
  .li-reg {
    .register {
      color: white;
      background-color: transparent;
    }
  }

  .li-log {
    .login {
      color: white;
      background-color: transparent;
    }
  }
}
