.sc-bdfBwQ {
  position: relative;
  .topBarDiv {
    position: absolute;
    top: -76px;
    left: 0;
    z-index: 20;
    height: 35px;
    display: flex;
    border-bottom: 4px solid #fa9551;
    margin-right: 45px;
    h4 {
      font-size: 15px;
      color: #2cace3;
    }
  }
  video {
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    object-fit: cover;
  }
}
