.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  margin: 0 auto;

  .form-control {
    margin: 3px;
  }

  .login-button {
    width: 100%;
    left: 105px;
    margin: 5px 0;

    .btn {
      position: relative;
      width: 100px;
    }
  }
}
