.login-form {
  width: 300px;
  margin: 200px auto;

  .form-control {
    margin: 3px;
  }

  .login-button {
    width: 100%;
    margin: 5px 0;

    .btn {
      position: relative;
      width: 100px;
      color: white;
      background: rgb(0, 191, 255);
      transition: all 0.5s ease-in-out;
      &:hover {
        background: rgb(1, 111, 148);
        box-shadow: 2px 2px 2px black;
      }
    }
  }
}
