.testic {
  .hamburger {
    margin: 60px 0 10px 0;
    background: #4092c2;
    height: 60px;
    color: white;
    .hamNprofil {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      height: 100%;
      margin: 0 auto;
      font-size: 16px;
      .ham {
        &:hover {
          cursor: pointer;
        }
      }
      .profile {
        &:hover {
          cursor: pointer;
        }
      }
      .rightNavIcons {
        display: flex;
        div {
          margin: 0 0 0 30px;
          font-size: 13px;
          height: 20px;
          display: flex;
          &:hover {
            cursor: pointer;
          }
          .iconNav {
            margin: 1px 4px 0 0;
            font-size: 18px;
          }
          p {
            align-items: center;
            margin: 1px 0 0 0;
          }
        }

        // .messagesNav {
        //   position: relative;
        //   .numOfMessages {
        //     background: red;
        //     height: 20px;
        //     width: 20px;
        //     border: 1px solid brown;
        //     border-radius: 5px;
        //     position: absolute;
        //     right: -20px;
        //     top: -10px;
        //     p {
        //       margin: 0 auto;
        //     }
        //   }
        // }

        .alertsNav {
          .iconNav {
            transform: rotate(15deg);
          }
        }
      }
    }
  }
  .dashboardIcon {
    color: #4092c2;
    display: flex;
    height: 25px;
    width: 60%;
    margin: 0 auto;
    .dashIcon {
      font-size: 18px;
      align-self: center;
      margin: 0 10px 0 0;
    }
    h2 {
      font-size: 15px;
      align-self: center;
      font-weight: bold;
      margin: 1px 0 0 0;
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 60px auto 30px auto;
    grid-gap: 10px;
    width: 60%;

    .divVideo {
      position: relative;

      .pendingReq {
        font-size: 13px;
        margin-top: 25px;
        color: #4092c2;

        div {
          margin: 4px auto;
          text-align: center;
          text-indent: 20px;
          color: #4092c2;
        }
      }
      .requestsVideo {
        background: #66af94;
        width: 200px;
        float: right;
        border-bottom-left-radius: 5px;
        color: white;
      }
      button {
        position: absolute;
        bottom: 5px;
        left: 20px;
        background: #4092c2;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        color: white;
        transition: all 0.5s ease-in-out;
        outline: 0;

        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 10px rgb(177, 176, 176);
        }
      }
    }

    .divEmail {
      position: relative;
      .pendingReq {
        font-size: 13px;
        margin-top: 25px;
        color: #4092c2;
        div {
          margin: 4px auto;
          text-align: center;
          text-indent: 20px;
          color: #4092c2;
        }
      }

      .requestsEmail {
        background: #66af94;
        width: 200px;
        float: right;
        border-bottom-left-radius: 5px;
        color: white;
      }
      button {
        position: absolute;
        bottom: 5px;
        left: 20px;
        background: #4092c2;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        transition: all 0.5s ease-in-out;
        color: white;
        outline: 0;

        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 10px rgb(177, 176, 176);
        }
      }
    }

    .divClock {
      position: relative;
      .requestsClock {
        background: #66af94;
        width: 200px;
        float: right;
        border-bottom-left-radius: 5px;
        color: white;
      }
      button {
        position: absolute;
        bottom: 5px;
        left: 20px;
        background: #4092c2;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        color: white;
        transition: all 0.5s ease-in-out;
        outline: 0;

        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 10px rgb(177, 176, 176);
        }
      }
      .pendingReq {
        font-size: 13px;
        margin-top: 25px;
        color: #4092c2;
        .div {
          text-align: center;
          color: #4092c2;
        }
      }
    }

    .divVideo,
    .divEmail,
    .divClock {
      height: 200px;
      border-radius: 5px;
      border: 1.5px solid #4092c2;
    }

    .videoApp1,
    .waitRoom1,
    .emailReq1 {
      display: flex;
      font-size: 40px;
      height: 70px;
      justify-content: center;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .email,
      .video,
      .clock {
        align-self: center;
        margin: 10px 10px 0 0;
        .icon {
          color: #4092c2;
          align-self: center;
          margin-top: 8px;
        }
      }

      h2 {
        font-size: 15px;
        align-self: center;
        font-weight: bold;
        color: #4092c2;
      }
    }
  }

  .mainTabel {
    border: 1px solid white;
    border-radius: 3px;
    width: 60%;
    margin: 0 auto;

    .mainConsultation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #66af94;

      height: 40px;

      .icon_left {
        display: flex;
        span {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 3px 10px;
          align-self: center;
          text-align: center;
          .icon1 {
            align-self: center;
            color: white;
            font-size: 22px;
            margin-top: 3px;
          }
        }
        p {
          align-self: center;
          margin: 0;
          color: white;
        }
      }
      .sort {
        margin: 0 10px;
        display: flex;
        p {
          align-self: center;
          margin: 0 50px 0 0;
          text-overflow: bold;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
        .all {
          margin: 0 20px 0 0;
        }
      }
    }

    .table2 {
      text-align: center;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin: 0;
      padding: 10px;
      color: #4092c2;
      box-shadow: 2px 2px 7px rgb(202, 202, 202);

      tbody {
        background: white;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: rgb(208, 242, 253);
          cursor: pointer;
        }
        tr {
          height: 40px;
          td {
            .check {
              color: rgb(18, 219, 18);
              font-size: 17px;
            }
            .pending {
              color: #4092c2;
              font-size: 17px;
            }
          }
        }
      }
      .client-head {
        text-align: center;
        color: #4092c2;

        .client-row {
          height: 40px;
          .client-doctor {
            text-align: center;
          }
          .client-subject {
            text-align: center;
          }
          .client-status {
            text-align: center;
          }
        }
      }
    }
  }

  // .list-group {
  //   margin-top: 10px;
  // }

  .MainPending {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;

    .openPending {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20px;
      width: 100%;

      .uniquePen {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        margin: 0 auto;
        color: white;
        border: 1px solid white;
        width: 80%;

        p {
          align-self: center;
        }
      }
    }
  }

  .penTable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 5;

    button {
      width: 150px;
      height: 30px;
      background: rgb(221, 221, 221);
      border-radius: 5px;
      border: none;
      margin: 30px auto;
      transition: all 0.5s ease-in-out;
      outline: 0;
      // position: absolute;
      // left: 0;
      // bottom: 10%;
      // left: 50%;
      // transform: translate(-50%);

      &:hover {
        background: pink;
        box-shadow: 5px 5px 5px black;
      }
    }
  }

  .table2 {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 10px;

    tbody {
      background: white;
      transition: all 0.5 ease-in-out;
      &:hover {
        background: lightblue;
      }
      tr {
        height: 40px;
        td {
          .check {
            color: rgb(18, 219, 18);
            font-size: 17px;
          }
          .declined {
            color: red;
            font-size: 17px;
          }
          .pendi {
            color: #4092c2;
            font-size: 17px;
          }
        }
      }
    }
    .client-head {
      text-align: center;
      background-color: whitesmoke;
      color: gray;

      .client-row {
        height: 40px;
        .client-doctor {
          text-align: center;
        }
        .client-subject {
          text-align: center;
        }
        .client-status {
          text-align: center;
        }
      }
    }
  }
  .connectWithdoctor {
    margin: 100px 0 0 0;
    background: #4092c2;
    height: 60px;
    .connected {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      height: 100%;
      margin: 0 auto;
      p {
        margin: 0;
        color: white;
      }
      h4 {
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        color: white;
        .see {
          font-size: 10px;
          color: white;
        }
      }
    }
  }
  .pagi {
    display: flex;
    margin: 20px auto;
    justify-content: center;

    .left {
      width: 30px;
      height: 30px;
      margin: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      .iconLeft {
        font-size: 20px;
        margin: 4px 0 0 0;
        color: #4092c2;
      }
    }

    .right {
      width: 30px;
      height: 30px;
      margin: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      .iconRight {
        font-size: 20px;
        margin: 4px 0 0 0;
        color: #4092c2;
      }
    }
  }
  .sideNav {
    position: absolute;
    transition: all 0.7s ease-in-out;
    top: 60px;
    width: 19%;
    height: 93%;
    background: whitesmoke;
    color: #0164a1;
    .sideProfile {
      border-bottom: 1.5px solid #4092c2;
      width: 80%;
      margin: 80px auto 0 auto;
      .mainProfile {
        border: 1px solid #4092c2;
        border-radius: 50%;
        width: 67px;
        height: 67px;
        margin: 0 auto;
        background: white;
        position: relative;
        .onlineDot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: 4px;
          right: 2px;
        }
        .profile {
          color: white;
          font-size: 60px;
          background: rgb(189, 235, 250);
          width: 60px;
          height: 60px;
          align-items: center;
          overflow: hidden;
          border-radius: 50%;
          margin: 2px auto 2px auto;
          .icon {
            margin: 10px 0 0 0;
          }
        }
      }
      p {
        margin: 20px 0;
      }
    }
    .sideVideo,
    .sideEmail,
    .sideWaitingRoom,
    .sideMyCounsultation,
    .sideHelp,
    .sideFaq,
    .sideMyAccount,
    .sideSignOut {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1.5px solid #4092c2;
      width: 80%;
      margin: 0 auto;
      padding: 10px 10px 10px 40px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: rgb(182, 235, 253);
        cursor: pointer;
      }
      span {
        font-size: 18px;
        margin: 5px 10px auto 0;
      }
      h2 {
        font-size: 13px;
        margin: 0;
      }
    }
  }
  .mainCaldendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #66af94;
    width: 60%;
    margin: 0 auto;
    height: 40px;

    .icon_left {
      display: flex;
      span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 3px 10px;
        align-self: center;
        text-align: center;
        .icon1 {
          align-self: center;
          color: white;
          font-size: 22px;
          margin-top: 3px;
        }
      }
      p {
        align-self: center;
        margin: 0;
        color: white;
      }
    }
    .sort {
      align-items: center;
      margin: 0 10px;

      label {
        margin: 0 3px;
      }
    }
  }
  .allMonthsPaginate {
    display: flex;
    position: relative;
    width: 60%;
    height: 220px;
    margin: 30px auto 0 auto;
    .MainDate,
    .MainDate2,
    .MainDate3,
    .MainDate4 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      div {
        .react-datepicker {
          width: 280px;
          height: 220px;
          border: none;
          .react-datepicker__month-container {
            margin: 0;
            .react-datepicker__header {
              padding: 0;
              border: none;
              .react-datepicker__current-month {
                text-align: left;
                color: #4092c2;
                text-indent: 20px;
                background: white;
                font-size: 16px;
              }
              .react-datepicker__day-names {
                margin: 0 auto;
                background: white;
                border-right: 1.5px solid #4092c2;
                font-size: 12px;
                color: black;
                font-weight: 500;
                background: rgb(252, 244, 244);
                .react-datepicker__day-name {
                  border-top: 1.5px solid #4092c2;
                  border-left: 1.5px solid #4092c2;
                  width: 40px;
                  height: 20px;
                  margin: 0;
                }
              }
            }
            width: 100%;
            .react-datepicker__month {
              // height: 200px;
              width: 100%;
              border-top: 1.5px solid #4092c2;
              border-right: 1.5px solid #4092c2;
              margin: 0;
              .react-datepicker__week {
                // margin: 0 0 14px 0;
                .react-datepicker__day {
                  font-size: 12px;
                  font-weight: 600;
                  // margin: 0 10px;
                  margin: 0;
                  width: 40px;
                  height: 28px;
                  text-align: center;
                  border-left: 1.5px solid #4092c2;
                  border-bottom: 1.5px solid #4092c2;
                  text-align: right;
                  padding: 10px 5px 0 0;
                  &:focus {
                    color: rgb(177, 176, 176);
                  }
                }
                .react-datepicker__day--selected {
                  margin: 0;
                  width: 47px;
                }
              }
            }
          }
        }
      }
    }
    .MainDate {
      position: absolute;
      transition: all 0.7s ease-in-out;
    }
    .MainDate2 {
      transition: all 0.7s ease-in-out;
      position: absolute;
      opacity: 0;
    }
    .MainDate3 {
      transition: all 0.7s ease-in-out;
      position: absolute;
      opacity: 0;
    }
    .MainDate4 {
      transition: all 0.7s ease-in-out;
      position: absolute;
      opacity: 0;
    }
  }
}
