.detail_exam {
  background: #f2f2f2;
  position: relative;
  padding: 40px 40px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  top: 2px;
  // float: left;
  text-align: left;
  margin: 100px auto 0 auto;
  width: 65%;
  min-height: 400px;
  display: flex;
  height: 500px;
  .iconVideo {
    position: absolute;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 17px;
    top: -40px;
    left: 0;
    height: 40px;
    display: flex;
    background: #f2f2f2;
    width: 18%;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 0 0 5px;
    }
  }
  .detail {
    padding: 3px 10px 5px 10px;
    position: relative;
    width: 300px;
    .divSelectButton {
      display: flex;
      .select-option {
        margin-left: -12px;
        width: 200px;
        // border: 1px solid #fa9551;
      }
      .btnSend {
        margin: 0 10px;
        border: 1px solid #377da5;
        background: #4092c2;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
      }
    }
    p {
      color: #666666;
      border: none;
      span {
        font-weight: bold;
      }
    }

    .col-sm-10 {
      position: relative;
      height: 50px;

      .btn {
        position: relative;
        border: 1px solid #4092c2;
        height: 37px;
        left: 120px;
        top: -37px;
      }
    }
    .message-btn {
      position: absolute;
      bottom: 0;
      margin: 0 0 0 -10px;
      button {
        background: #00aff0;
        margin: 0;
        font-size: 14px;
        width: 150px;
        border-radius: 6px;
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
          border: none;
        }
      }
    }
  }
  .mainMessageDiv {
    width: 70%;
    .subjectDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fa9551;
      color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 40px;
      p {
        margin: 5px 15px 0 15px;
        span {
          font-weight: 700;
        }
      }
    }
    .messageDiv {
      height: 30%;
      width: 100%;
      background: white;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 10px 13px 0 13px;
      p {
        margin: 5px 20px 0 0;
        span {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }

    .reportIfDeclined {
      margin: 20px 0 0 0;

      height: 45%;
      .subjectDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #e6e6e6;
        color: #666666;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 40px;
        p {
          margin: 5px 15px 0 15px;
          span {
            font-weight: 700;
          }
        }
      }
      .messageDivReport {
        width: 100%;
        height: 72%;
        background: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        // padding: 10px 13px 0 13px;
        textarea {
          width: 100%;
          height: 100%;
          padding: 10px;
          text-indent: 5px;
          border: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        button {
          color: white;
          background: #00aff0;
          border: none;
          border-radius: 5px;
          padding: 5px 10px;
          font-weight: 600;
          margin: 20px auto 20px 0;
        }
      }
    }
  }
  .sideMessageDetails {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    .SubjectMessage {
      .sideSub {
        background: #fa9551;
        color: white;
        height: 40px;
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        text-indent: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        p {
          margin: 5px 20px 0 0;
          span {
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }
      .messageDiv {
        background: white;
        color: #666666;
        height: 100px;
        padding: 10px 0 0 0;
        text-indent: 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        span {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    .mainMessageCorrespondence {
      scroll-behavior: smooth;
      overflow: scroll;
      overflow-x: hidden;
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #fa9551;
        border: 1px solid white;
        border-radius: 5px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #1184c7;
      }

      .MessageCorrespondence {
        width: 100%;
        margin-top: 30px;

        .Maintbody {
          margin-bottom: 20px;
          p {
            text-indent: 20px;
            border: none;
            span {
              font-weight: bold;
            }
          }
          .senderMaiin {
            height: 30px;
            display: flex;
            background: #fa9551;
            justify-content: space-between;
            color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            .senderP {
              margin-top: 5px;
              span {
                font-weight: bold;
              }
            }
            .createdP {
              margin: 5px 20px 0 0;
            }
          }
          .row1 {
            .message {
              color: #666666;
              background: white;
              padding: 10px 0 10px 0;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              span {
                font-weight: bold;
              }
            }
          }
          .ReplyMainDiv {
            margin-left: 20px;
            button {
              color: white;
              background: #00aff0;
              border: none;
              height: 40px;
              width: 80px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              .replyIcon {
                font-size: 20px;
              }
            }
          }
          .SendMainDiv {
            margin-left: 20px;
            border: 1px solid #00aff0;
            border-radius: 5px;
            margin: 10px 10px 0 20px;
            box-shadow: 1px 1px 10px gray;
            textarea {
              margin: 5px;
              width: 98%;
              min-height: 200px;
              resize: none;
              border: none;
              text-indent: 10px;
            }
            .sendbuttonAndAtt {
              display: flex;
              button {
                color: white;
                background: #00aff0;
                border: none;
                height: 40px;
                width: 80px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 10px 20px 20px;
                transition: all 0.5s ease-in-out;
                .replyIcon {
                  font-size: 20px;
                }
                // &:hover {
                //   box-shadow: 2px 2px 1px black;
                // }
              }
              .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
              }

              .btn {
                color: white;
                background-color: #00aff0;
                width: 40px;
                border-radius: 8px;
                font-size: 30px;
                font-weight: bold;
                outline: none;
                // &:hover {
                //   cursor: pointer;
                //   background: #4092c2;
                //   color: white;
                // }
              }

              .upload-btn-wrapper input[type="file"] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                width: 60px;
                opacity: 0;
              }
            }
          }
        }
      }
      .ReplyMainDiv {
        margin-left: 20px;
        button {
          color: white;
          background: #00aff0;
          border: 0;
          height: 40px;
          width: 80px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          .replyIcon {
            font-size: 20px;
          }
        }
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
          border: none;
        }
      }
      .SendMainDiv {
        margin-left: 20px;
        border: 1px solid #4092c2;
        border-radius: 5px;
        margin: 10px 10px 0 20px;
        box-shadow: 1px 1px 10px gray;
        textarea {
          margin: 5px;
          width: 98%;
          min-height: 200px;
          resize: none;
          border: none;
          text-indent: 10px;
        }
        .sendbuttonAndAtt {
          display: flex;
          button {
            color: white;
            background: #4092c2;
            border: 1px solid #377da5;
            height: 40px;
            width: 80px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px 20px 20px;
            transition: all 0.5s ease-in-out;
            .replyIcon {
              font-size: 20px;
            }
            &:hover {
              box-shadow: 2px 2px 1px black;
            }
          }
          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
          }

          .btn {
            border: 1px solid #1286c9;
            color: white;
            background-color: #4092c2;
            width: 40px;
            border-radius: 8px;
            font-size: 30px;
            font-weight: bold;
            outline: none;
            // &:hover {
            //   cursor: pointer;
            //   background: #4092c2;
            //   color: white;
            // }
          }

          .upload-btn-wrapper input[type="file"] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            opacity: 0;
          }
        }
      }
      .newMessage {
        border: 2px solid #00aff0;
        color: #00aff0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        transition: all 0.5s ease-in-out;
        float: right;
        h1 {
          margin: 0;
          position: absolute;
          font-size: 40px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          background: #00aff0;
          color: white;
        }
      }
    }
  }
}
