.detail_exam {
  border: 1px solid #4092c2;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  top: 2px;
  // float: left;
  text-align: left;
  margin: 100px auto 0 auto;
  width: 60%;
  display: flex;
  max-height: 60vh;
  .detail {
    padding: 5px 10px;
    position: relative;
    width: 300px;
    .divSelectButton {
      display: flex;
      .select-option {
        width: 200px;
      }
      .btnSend {
        margin: 0 10px;
        border: 1px solid #377da5;
        background: #4092c2;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
      }
    }
    p {
      color: #4092c2;
      border: none;
      span {
        font-weight: bold;
      }
    }

    .col-sm-10 {
      position: relative;
      height: 50px;

      .btn {
        position: relative;
        border: 1px solid #4092c2;
        height: 37px;
        left: 120px;
        top: -37px;
      }
    }
  }
  .sideMessageDetails {
    width: 100%;
    padding: 5px;
    // display: flex;
    // flex-direction: row;
    .SubjectMessage {
      div {
        p {
          text-indent: 20px;
          color: #4092c2;
          border: none;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .mainMessageCorrespondence {
      scroll-behavior: smooth;
      height: 85%;
      overflow: scroll;
      overflow-x: hidden;
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #4092c2;
        border: 1px solid blue;
        border-radius: 5px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #1184c7;
      }

      .MessageCorrespondence {
        width: 100%;
        margin-top: 30px;

        .Maintbody {
          margin-bottom: 20px;
          p {
            text-indent: 20px;
            color: #4092c2;
            border: none;
            span {
              font-weight: bold;
            }
          }
          .senderMaiin {
            height: 30px;
            display: flex;
            background: lightskyblue;
            justify-content: space-between;
            .senderP {
              margin-top: 5px;
              span {
                font-weight: bold;
              }
            }
            .createdP {
              margin: 5px 20px 0 0;
            }
          }
          .row1 {
            .message {
              span {
                font-weight: bold;
              }
            }
          }
          .ReplyMainDiv {
            margin-left: 20px;
            button {
              color: white;
              background: #4092c2;
              border: 1px solid #377da5;
              height: 40px;
              width: 80px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              .replyIcon {
                font-size: 20px;
              }
            }
          }
          .SendMainDiv {
            margin-left: 20px;
            border: 1px solid #4092c2;
            border-radius: 5px;
            margin: 10px 10px 0 20px;
            box-shadow: 1px 1px 10px gray;
            textarea {
              margin: 5px;
              width: 98%;
              min-height: 200px;
              resize: none;
              border: none;
              text-indent: 10px;
            }
            .sendbuttonAndAtt {
              display: flex;
              button {
                color: white;
                background: #4092c2;
                border: 1px solid #377da5;
                height: 40px;
                width: 80px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 10px 20px 20px;
                transition: all 0.5s ease-in-out;
                .replyIcon {
                  font-size: 20px;
                }
                &:hover {
                  box-shadow: 2px 2px 1px black;
                }
              }
              .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
              }

              .btn {
                border: 1px solid #1286c9;
                color: white;
                background-color: #4092c2;
                width: 40px;
                border-radius: 8px;
                font-size: 30px;
                font-weight: bold;
                outline: none;
                // &:hover {
                //   cursor: pointer;
                //   background: #4092c2;
                //   color: white;
                // }
              }

              .upload-btn-wrapper input[type="file"] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                width: 60px;
                opacity: 0;
              }
            }
          }
        }
      }
      .ReplyMainDiv {
        margin-left: 20px;
        button {
          color: white;
          background: #4092c2;
          border: 1px solid #377da5;
          height: 40px;
          width: 80px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          .replyIcon {
            font-size: 20px;
          }
        }
        &:disabled,
        button[disabled] {
          background: lightgray;
          color: white;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
          border: none;
        }
      }
      .SendMainDiv {
        margin-left: 20px;
        border: 1px solid #4092c2;
        border-radius: 5px;
        margin: 10px 10px 0 20px;
        box-shadow: 1px 1px 10px gray;
        textarea {
          margin: 5px;
          width: 98%;
          min-height: 200px;
          resize: none;
          border: none;
          text-indent: 10px;
        }
        .sendbuttonAndAtt {
          display: flex;
          button {
            color: white;
            background: #4092c2;
            border: 1px solid #377da5;
            height: 40px;
            width: 80px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px 20px 20px;
            transition: all 0.5s ease-in-out;
            .replyIcon {
              font-size: 20px;
            }
            &:hover {
              box-shadow: 2px 2px 1px black;
            }
          }
          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
          }

          .btn {
            border: 1px solid #1286c9;
            color: white;
            background-color: #4092c2;
            width: 40px;
            border-radius: 8px;
            font-size: 30px;
            font-weight: bold;
            outline: none;
            // &:hover {
            //   cursor: pointer;
            //   background: #4092c2;
            //   color: white;
            // }
          }

          .upload-btn-wrapper input[type="file"] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            opacity: 0;
          }
        }
      }
      .newMessage {
        border: 2px solid #4092c2;
        color: #4092c2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        transition: all 0.5s ease-in-out;
        float: right;
        h1 {
          margin: 0;
          position: absolute;
          font-size: 40px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          background: #4092c2;
          color: white;
        }
      }
    }
  }
}
