.detail-exam {
  border: none;
  width: 50%;

  .detail {
    p {
      text-align: left;
      border-bottom: 1px solid rgb(23, 23, 138);
      text-indent: 10px;
      color: rgb(23, 23, 138);
    }

    .select-option {
      width: 300px;
      margin-right: 30px;
    }

    .message-btn {
      button {
        color: white;
        background: rgb(0, 191, 255);
        transition: all 0.5s ease-in-out;
        border: none;
        &:hover {
          background: rgb(0, 119, 158);
          box-shadow: 2px 2px 2px black;
          border: none;
        }
      }
    }
    div {
      .btn {
        margin: 0;
        &:hover {
          color: white;
        }
      }
    }
  }
  .messages-link {
    border: 1px solid silver;
    padding: 6px;
    border-radius: 8px;
    background-color: snow;
    text-decoration: rgba(238, 64, 20, 0.548);
  }
  .message-link {
    border: 1px solid silver;
    margin-left: 5px;
    padding: 6px;
    border-radius: 8px;
    background-color: snow;
    text-decoration: rgba(238, 64, 20, 0.548);
  }
}
