.detail_exam {
  border: 1px solid #4092c2;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  top: 2px;
  // float: left;
  text-align: left;
  margin: 100px auto 0 auto;
  width: 60%;
  .detail {
    padding: 5px 10px;
    position: relative;
    .divSelectButton {
      display: flex;
      .select-option {
        width: 200px;
      }
      .btnSend {
        margin: 0 10px;
        border: 1px solid #377da5;
        background: #4092c2;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
      }
    }
    p {
      color: #4092c2;
      border: none;
      span {
        font-weight: bold;
      }
    }

    .col-sm-10 {
      position: relative;
      height: 50px;

      .btn {
        position: relative;
        border: 1px solid #4092c2;
        height: 37px;
        left: 120px;
        top: -37px;
      }
    }
  }
}
.messages-link,
.message-link {
  border: 1px solid #4092c2;
  padding: 12px;
  border-radius: 8px;
  background-color: #4092c2;
  color: white;
  margin: 10px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  outline: 0;
  &:disabled,
  button[disabled] {
    background: lightgray;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    border: none;
  }

  &:hover {
    background: #377da5;
    box-shadow: 2px 2px 2px rgb(189, 186, 186);
  }
}
