.doctor {
  display: flex;
  .imginput {
    margin-right: 30px;
    .doctor-p {
      position: relative;
      width: 200px;
      border: 1px solid rgb(114, 223, 250);
      border-radius: 10px;
      height: 180px;
      padding: 5px;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
    input {
      margin: 8px 0;
      width: 130px;
      border-radius: 5px;
    }
  }

  .info {
    border: 1px solid rgb(114, 223, 250);
    border-radius: 10px;
    height: 180px;
    padding: 5px;
    width: 100%;
    text-align: start;
    p {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      text-indent: 10px;
      color: white;
    }
  }
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.form {
  width: 100%;
  margin: 30px auto;

  .pref-price {
    display: flex;
    justify-content: center;

    .prefix {
      padding: 5px;

      .prefix-input {
        left: 100px;
        border: 1px solid rgba(78, 190, 241, 0.548);
        border-radius: 5px;
        padding: 5px;
      }
    }

    .price {
      align-self: center;
      .price-input {
        border: 1px solid rgba(78, 190, 241, 0.548);
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  .description {
    margin: 20px auto;
    .description-input {
      height: 135px;
      width: 380px;
      border: 1px solid rgba(78, 190, 241, 0.548);
      border-radius: 5px;
      padding: 5px;
      margin: 0 auto;
    }
  }

  .submit {
    margin: 0 auto;
    .btn {
      width: 156px;
      color: white;
    }
  }
}
