.mainClientsDiv {
  width: 60%;
  margin: 100px auto 0 auto;

  .clientsDiv {
    display: flex;
    justify-content: space-between;
    h4 {
      color: #4092c2;
      margin: 30px 0;
    }
    label {
      align-self: center;
    }
  }

  .row2 {
    margin-bottom: 167px;
    .list-group {
      box-shadow: none;

      .list-group-item {
        transition: all 0.5s ease-in-out;
        border: 1.5px solid #4092c2;
        color: #4092c2;
        outline: 0;
        &:hover {
          background: lightblue;
        }
      }
    }
  }
}

.footerr {
  width: 100%;
  position: absolute;
  bottom: 0;
}
