.doctorInfo {
  //   background: black;
  float: left;
  margin: 30px 0;
  text-align: start;
  width: 50%;

  .infoo {
    p {
      border-bottom: 1px solid blue;
      text-indent: 10px;
      color: rgb(25, 25, 180);
    }
  }
}
