.mainClientsDiv {
  width: 50%;
  min-height: 500px;
  margin: 80px auto 20px auto;
  background: #f3f3f3;
  position: relative;
  border-radius: 15px;
  border-top-left-radius: 0;

  .clientsAbove {
    position: absolute;
    top: -39px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 200px;
    background: #f3f3f3;
    display: flex;
    img {
      margin: 0 10px 0 20px;
    }
    h4 {
      color: #666666;
      text-align: left;
    }
  }

  .clientsDiv {
    height: 80px;
    width: 50%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 30px;
    // label {
    //   align-self: center;
    //   margin: 0 40px 0 40px;
    //   color: #666666;
    //   select {
    //     border: 2px solid #00aff0;
    //     border-radius: 8px;
    //     height: 30px;
    //     color: #666666;
    //     font-weight: 400;
    //     margin: 0 0 0 20px;
    //     text-indent: 10px;
    //     width: 110px;
    //   }
    //   input {
    //     border: 2px solid #00aff0;
    //     border-radius: 8px;
    //     height: 30px;
    //     width: 110px;
    //     font-weight: 400;
    //     color: #666666;
    //     margin: 0 0 0 20px;
    //     text-indent: 10px;
    //   }
    // }
    .exam-spec {
      flex: 1;
    }
    .exam-doc {
      flex: 1;
    }
  }

  .row2 {
    width: 83%;
    padding: 0 0 20px 0;
    margin: 0 0 0 55px;
    .list-group {
      box-shadow: none;
      // margin: 10px 0;
      display: flex;

      .list-group-item {
        transition: all 0.5s ease-in-out;
        border: 1.5px solid #fa9551;
        border-radius: 10px;
        color: #666666;
        outline: 0;
        font-weight: bold;
        text-indent: 10px;
        &:hover {
          background: #fa9551;
          color: white;
        }
        position: relative;
        img {
          position: absolute;
          right: -20px;
          bottom: -10px;
          width: 60px;
          height: 60px;
          background: white;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
