.message-box {
    border: 1px solid rgba(0, 174, 255, 0.637);
    height: 250px;

    .sender{
        text-align: left;
        width: 200px;
        margin: 5px;
        padding: 5px;
        border: 1px solid rgba(33, 201, 243, 0.658);
    }

    .message{
        margin: 5px;
        width: 200px;
        text-align: left;
        position: relative;
        height: 100px;
        padding: 5px;
        border: 1px solid rgba(33, 201, 243, 0.658);
    }

    .attachment{
        width: 200px;
        margin: 5px;
        text-align: left;
        position: relative;
        height: 80px;
        padding: 5px;
        border: 1px solid rgba(33, 201, 243, 0.658);
    }

    .input{
        position: relative;

        .form-control{
            position: relative;

        }
    }
}
