.detail-exam {
  border: none;
  margin: 40px auto 167px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  float: initial !important;

  .detail {
    padding: 5px;
    p {
      text-align: left;
      border-bottom: 1px solid #4092c2;
      text-indent: 10px;
      color: #4092c2;
    }
    div {
      .btn {
        margin: 0;
        background: #4092c2;
        outline: 0;
        &:hover {
          color: white;
        }
      }
    }
  }

  .record-box {
    padding: 5px;
    h4 {
      margin: 0 auto 12px auto;
      color: #4092c2;
    }
    p {
      text-align: left;
      text-indent: 10px;
      color: #4092c2;
      span {
        font-weight: bold;
      }
    }
  }
}

.message-btn {
  .btn {
    border: 1px solid #4092c2;
    padding: 12px;
    border-radius: 8px;
    background-color: #4092c2;
    color: white;
    margin: 10px;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    outline: 0;
    &:disabled,
    button[disabled] {
      background: lightgray;
      color: white;
      cursor: not-allowed;
      box-shadow: none;
      pointer-events: none;
      border: none;
    }
  }
}

.report {
  width: 50%;
  padding: 5px;

  .report-details {
    h4 {
      color: #4092c2;
    }
    p {
      text-align: left;
      border-bottom: 1px solid #4092c2;
      text-indent: 10px;
      color: #4092c2;
    }
  }
}

#videoo {
  background: rgba(0, 0, 0, 0.9);
  min-width: 400px;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  #topControler {
    display: flex;
    color: white;
    float: right;
    font-size: 15px;
    .icon1,
    .icon2 {
      margin: 5px 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #mainChatVideo {
    width: 100%;
    height: 96%;
    display: flex;

    #form {
      width: 50%;
      #messages {
        position: absolute;
        bottom: 10%;
        width: 50%;
        height: 80%;
        overflow-y: auto;
      }
      .inputMessage {
        display: flex;
        width: 50%;
        position: fixed;
        bottom: 3%;
        #yourMessage {
          width: 100%;
        }
        #send {
          margin-left: 5px;
          padding: 0 10px;
        }
      }
    }
    #videoChat {
      position: relative;

      video {
        width: 100%;
        height: 90%;
      }

      .chatRoom {
        display: flex;
        position: absolute;
        left: 0;
        top: 42%;
        width: 30px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        align-items: center;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        justify-content: center;
        font-size: 15px;
        color: white;
        z-index: 2;
        &:hover {
          cursor: pointer;
        }
      }
      #functionality {
        position: absolute;
        bottom: 6%;
        width: 100%;
        height: 70px;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;

        .iconMic {
          color: rgb(223, 217, 217);
          width: 30px;
          height: 30px;
        }
        .iconMicUnmute {
          width: 30px;
          height: 30px;
        }
        .iconPhone {
          color: red;
          width: 60px;
          height: 60px;
        }
        .iconVideo {
          color: rgb(223, 217, 217);
          width: 30px;
          height: 30px;
        }
        .iconVideoShow {
          width: 30px;
          height: 30px;
        }
        .iconMic,
        .iconVideoShow,
        .iconMicUnmute,
        .iconPhone,
        .iconVideo {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .report {
    width: 100%;
  }
}
