.container {
  position: static;
}
.detail-exam {
  border: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  float: initial !important;

  .detail {
    padding: 5px;
    p {
      text-align: left;
      border-bottom: 1px solid rgb(23, 23, 138);
      text-indent: 10px;
      color: rgb(23, 23, 138);
    }
    div {
      .btn {
        margin: 0;
        &:hover {
          color: white;
        }
      }
    }
  }

  .record-box {
    padding: 5px;
    h4 {
      margin: 0 auto 12px auto;
      color: rgb(23, 23, 138);
    }
    p {
      text-align: left;
      border-bottom: 1px solid rgb(23, 23, 138);
      text-indent: 10px;
      color: rgb(23, 23, 138);
    }
  }
}

.report {
  width: 50%;
  padding: 5px;

  .report-details {
    h4 {
      color: rgb(23, 23, 138);
    }
    p {
      text-align: left;
      border-bottom: 1px solid rgb(23, 23, 138);
      text-indent: 10px;
      color: rgb(23, 23, 138);
    }
  }
}

#videoo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 800px) {
  .report {
    width: 100%;
  }
}
