.mainRecord {
  width: 60%;
  margin: 100px auto 167px auto;
  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin: 50px 0;

    .record-box {
      text-align: center;
      width: 250px;
      padding: 10px;
      margin: 5px auto 5px auto;
      float: left;
      border-radius: 10px;
      border: 1px solid #4092c2;

      p {
        color: #4092c2;
        text-align: left;
        border-bottom: 1px solid #4092c2;
      }
    }
  }

  .r-form {
    margin-top: 5px;
    padding-top: 5px;
    width: 50%;
    height: 265px;
    margin: 20px 0 20px 0;

    .d-details,
    .d-teraphy,
    .d-medical {
      height: 30px;
      margin: 2px 0 2px 0;
      width: 400px;
      border-radius: 5px;
      border: 1px solid #4092c2;
      text-indent: 10px;
      float: left;
    }
    .submit {
      button {
        margin: 20px 0 20px 0;
        width: 200px;
        float: left;
        color: white;
        background: #4092c2;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: rgb(2, 108, 143);
          box-shadow: 2px 2px 2px black;
        }
      }
    }
  }
}

.footerr {
  width: 100%;
  position: absolute;
  bottom: 0;
}
