@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  /* min-height: 500px; */
  min-width: 1500px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.radioDiv {
  width: 60%;
  margin: 120px auto 0 auto;
  text-align: start;
}

.head {
  color: #4092c2;
}

.radioDiv input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.radioDiv input[type="radio"] + label:before {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid #4092c2;
  border-radius: 50%;
}

.radioDiv input[type="radio"]:checked + label:before {
  background: #4092c2;
}

.doctorLabel {
  margin: 10px 50px 0px 0;
  color: #4092c2;
  font-size: 15px;
  font-weight: 400;
}

.clientLabel {
  color: #4092c2;
  font-size: 15px;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.mainNotFoundDiv {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4092c2;
}

.bug {
  font-size: 80px;
  color: #4092c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bug h1 {
  font-size: 70px;
  margin-left: 20px;
  color: #09d3ac;
}
