* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* position: absolute; */
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background: linear-gradient(white, white, white, rgba(14, 233, 241, 0.719));
}

.head {
  color: rgb(0, 191, 255);
}

.clientLabel,
.doctorLabel {
  color: gray;
}

.clientLabel {
  margin-right: 30px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}
